<?xml version='1.0' encoding='utf-8'?>
<robot name="aroco" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="prefix" default="aroco_" />
  <xacro:arg name="mode" default="simulation" />
  <xacro:arg name="base_name" default="base" />
  <xacro:arg name="controller_manager_config_yaml_file" default="" />
  <xacro:arg name="ros_prefix" default="/aroco/" />

  <xacro:include filename="$(find aroco_description)/urdf/aroco.xacro" />
  <xacro:aroco mode="$(arg mode)" prefix="$(arg prefix)" />

  <xacro:include filename="$(find aroco_description)/urdf/aroco.simulation.xacro" />

  <xacro:aroco_simulation
    mode="$(arg mode)"
    base_name="$(arg base_name)"
    ros_prefix="$(arg ros_prefix)"
    controller_manager_config_yaml_file="$(arg controller_manager_config_yaml_file)" />

</robot>